<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>This semester we worked on a lot of assignments.</p>
    <p>In homework 1, we learned about binary number and how to add and subtract them  as well as find their complements. For the second part, we created code to move elements around in a list.</p>
    <p>In homework 2, we practiced selection sort and sequential searching. We also learned about the time complexity and how long it takes to perform certain searches and sorting. </p>
    <p>In homework 3, we learned about recursion and created a module that randomly created an array that water was passed through using numpy.</p>
    <p>In homework 4, we used object oriented programming to created objects that predicted class data consisting of how difficult the assignments were and how well each student did.</p>
    <p>In homework 5, we learned used machine learning to finish the project we had been working on for the semester. 
    We created two types of plots/maps and  used scikit-learn for implement the nearest neighbors. </p>
    <p>In the midterm we edited three different pictures to delete unwanted elements by changing RGB values.</p>
    <p>My favortie homework was homework 4 where we used object oriented programming. I think that it was really usedful to categorize data. I also really enjoyed learning about how practical Python can be. It was easier for me to understand because of the classroom example.</p>
    <p></p>
    <p></p>
    <p></p>
    </body>
</html>