
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>These are the classes I took this semester.</p>
    <p>I took Thinking and Decision Making, Pilates, Introduction to Python, Stress in an Interpersonal Context, and State Politics.</p>
    <p> Out of all four years, my favorite classes were Social Psychology and Financial Accounting. 
    I think that they both taught me very practical skills, and I was able to apply both classes to my daily life.
    Social psychology helped me learn about important topics in self development such as self-control and 
    my favorite part was when we learned about the use of social psychology in law and politics.  
    Financial Accounting really helped me in my summer internships, and I really liked the professor. He gave us Godiva chocolate on the last day of classes. 
    </p>
    </body>
</html>