<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> My name is Kriti Kumar. I am a senior in Columbia College, and I am double-majoring in psychology and business management. </p>
    
    <img src="/Users/kritikumar/Desktop/Python/kk3155-final/static/grad_photo.jpg" height="300"/>
    
    <p><a href= "https://www.youtube.com/"> This is my favorite website.</a></p>
    
    <p><a href= "/Users/kritikumar/Desktop/Python/kk3155-final/templates/assignments.html"> Click here to see the assignments in Python ENGI1006!</a><p/>
    
    <p><a href= "/Users/kritikumar/Desktop/Python/kk3155-final/templates/classes.html"> Click here to see the classes I took this semester!</a><p/>
    
    </body>
</html>

