<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> My name is Kriti Kumar. I am a senior in Columbia College. I am double-majoring in psychology and business management. </p>
    
    <p><img src= "/Users/kritikumar/Desktop/Python/kk3155-final//static/grad_photo.jpg" alt= "This is picture of me in my graduation robe." /></p>
    
    <p><a href= "https://www.youtube.com/"> This is my favorite website.</a></p>
    
    <p><a href= "/assignments"> Click here to the assignments in Python ENGI1006!</a><p/>
    
    <p><a href= "/classes"> Click here to the classes I took this semester!</a><p/>
    
    </body>
</html>

