<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>My name is Kriti Kumar. I am a senior in Columbia College. I am double-majoring in psychology and business management. </p>
    <img src= "/Users/kritikumar/Desktop/Python/kk3155-final/grad_photo.jpg"/>
     <a href= "https://www.youtube.com/"> This is my favorite website.</a>
     <a href= "/assignments"> Click here to the assignments in Python ENGI1006!</a>
    </body>
</html>

